.texto1{
  background-color: purple;
  width: 200px;
  border: 10px solid;
  margin: 1px;
  padding: 20px;
}
.texto2{
  background-color: purple;
  width: 200px;
  border: 10px solid;
  margin: 1px;
  margin-left: 260px;
  padding: 20px;
}
.texto3{
  background-color: purple;
  width: 200px;
  border: 10px solid;
  margin: 1px;
  margin-left: 520px;
  padding: 20px;
}
lemonchiffon-lavender-lightsalmon
